<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2 id="contact-info">Contact Info<a class="anchorjs-link " href="#contact-info" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

          <ul>
            <li><strong>Email</strong>: <a href="mailto:ferranespuna@gmail.com">ferranespuna@gmail.com</a></li>
            <li><strong>Location</strong>: Barcelona, Spain</li>
            <li><strong>Phone</strong>: +34 600 24 69 87</li>
            <li><strong>GitHub: </strong></li> <a href="https://github.com/ferranEspuna">ferranEspuna</a></li>
            <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/ferran-espuna-bertomeu-5813897">ferran-espuna-bertomeu-5813897</a></li>
          </ul>
        
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
